/* GLOBAL STYLES */
*{font-family: 'Open Sans', sans-serif;font-size: 15px;}
h1, h2,h3{color:#226e93;}
h1{font-weight: 200;font-size:2.2em;text-align: center;}
h2{font-weight: 400;font-size:1.69em;text-align: center;}
h3{font-weight: 400;font-size:1.3em;text-align: center;}
p{text-align: center;}

.panel {
    background: white;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25);
    border-radius: 5px;
    padding:15px 15px 15px 15px;
    margin:10px 10px 10px 10px; 

}
.eine-zeile{   
 display: -webkit-flex;
 display: flex;

}
.spalten{width: 100%;}

/* --------------- MEDIA QUERYS ---------------- */

@media(max-width:1080px){
 *{font-size: 15px;}
.eine-zeile{   
   display: -webkit-flex;
   display: flex;
 }
 .spalten{width: 50%;}
}
@media(max-width:768px){
 *{font-size: 15px;}
 body{margin:10px 10px 0px 10px;}
 .eine-zeile{   
  display: -webkit-flex;
  display: flex;
 
 }
 .spalten{width: calc(100% - 50px);}
}
@media(max-width:480px){
 *{font-size: 15px;}
  body{ margin:5px 12px 0px 12px;}
 .eine-zeile{   
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
 }
 .spalten{width: calc(100% - 50px);}
}

    
